html {
  position: relative;
  min-height: 100%;
}
body {
  margin: 0;
  margin-bottom: 170px;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Vazir, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(246, 246, 246);
}

header {
  height: 60px;
}

#header-menu li {
  margin-bottom: auto;
  margin-top: auto;
}

#header-menu {
  padding-inline-start: 30px;
}

#header-logo {
  height: 60px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgb(54, 54, 54);
  height: 60px;
  color: rgb(118, 118, 118);
  text-shadow: 1px 1px 1px black;
}

.blue-bar {
  height: 100px;
  background-color: #BBEFF1;
  -webkit-box-shadow: inset 0px -75px 18px -82px rgba(0,0,0,1);
  -moz-box-shadow: inset 0px -75px 18px -82px rgba(0,0,0,1);
  box-shadow: inset 0px -75px 18px -82px rgba(0,0,0,1);
}

#blue-bar-wider {
  height: 150px;
}

#blue-bar-widest {
  height: 250px;
}

hr {
  border-top: 2px dashed rgb(79, 205, 209);
  margin: 0 -15px;
}

#project-container {
  margin-top: -50px;
}

#profile-container {
  z-index: 1000;
}

#profile-name {
  margin-top: 15px;
}

#profile-name h2 {
  color: rgb(70, 70, 70);
}

#profile-name h6 {
  color: rgb(118, 118, 118);
}

#profile-description-row p {
  color: rgb(70, 70, 70);
  line-height: 1.7;
}

#description-row {
  padding: 30px 5px;
}

#description-row p {
  font-weight: 300;
  text-indent: 3%;
}

.profile-picture {
  z-index: 100;
  margin-top: -95px;
  width: 190px;
  height: 190px;
  border-radius: 22px;
  border: 10px solid rgba(255, 255, 255, 0.8);
}

#addSkillMenu {
  min-width: 200px;
  background-color: rgb(246, 246, 246);
  border: 1px solid #eeeeee;
}

.compact-card {
  margin: 5px 5px;
  padding: 5px 8px;
  font-weight: 300;
  align-content: center;
  vertical-align: middle;
  line-height: 1.4;
  display: inline;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  border-radius: 0.25rem;
  background-color: #fff;
}

#skill-row {
  background-color: #F9F9F9;
  padding: 30px 30px;
  border-bottom: 1px solid rgb(211, 211, 211);
}

#skill-row h5 {
  color: #1E8289;
}

.skill-endorsable:hover .skill-point-text {
  display: none;
}

.skill-endorsable:hover .skill-point:after {
  content: '+';
}

.skill-endorsable:hover .skill-point {
  background-color: rgb(27, 182, 31);
  color: white;
}

.skill-removable:hover .skill-point-text {
  display: none;
}

.skill-removable:hover .skill-point:after {
  content: '-';
}

.skill-removable:hover .skill-point {
  background-color: red;
  color: white;
}

.skills {
  direction: ltr;
}

.skill-add-dropdown {
  padding-left: 4px;
}

.skill-point {
  background-color: #BBEFF1;
  color: #1E8289;
  display: inline-block;
  padding: 0 8px;
  border-radius: 0.25rem;
  text-align: center;
}

.skill-remove {
  background-color: red;
  color: white;
}

.skill-endorsed {
  background-color: rgb(27, 182, 31);
  color: white;
}

#bid-row {
  padding: 30px 30px;

}

#bidAmount {
  padding-left: 50px;
  border: 2px solid rgb(31, 191, 208);
  min-width: 250px;
}

#bidAmountUnit {
  margin-right: -50px;
  color: rgb(31, 191, 208);
  padding-top: 6px;
  padding-bottom: 6px;
}

.submitBtn {
  background-color: rgb(27, 174, 189);
  color: white;
}

.deadline {
  color: gray;
}

.deadline-reached {
  color: red;
}

.budget {
  color: #1E8289;
}

.winner {
  color: green;
}

.register-form-col {
  margin-top: -70px;
  padding: 10px 15px;
}

.blue-decoration {
  width: 120px;
  height: 30px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(111, 201, 205);
  -webkit-clip-path: polygon(20% 0%, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(20% 0%, 100% 0, 100% 100%, 0 100%);
  z-index: 102;
  opacity: 0.8;
  margin-top: -30px;
  margin-left: -95px;
}

#blue-decoration-wider {
  width: 120px;
  height: 30px;
  background-color: rgb(130, 218, 222);
  z-index: 101;
  opacity: 0.8;
  margin-top: -30px;
  margin-left: -105px;
}

#profile-picture-col {
  position: relative;
}

#project-picture {
  width: 200px;
  height: 200px;
  border: 1px solid rgba(192, 191, 191, 0.2);
}

#intro-title {
  color: rgb(18, 133, 140);
  font-weight: 600;
  font-size: 36px;
}

#intro-subtitle {
  font-size: 14px;
  text-indent: 3%;
  color: rgb(32, 37, 38);
}

#home-search-bar {
  height: 55px;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  border-bottom: 3px rgb(27, 174, 189) solid;
}

#home-search-bar * {
  height: 100%;
}

#home-search-form * {
  font-weight: 100;
  font-size: 20px;
}

#home-search-form button {
  border-radius: 0;
  color: white;
  border: none;
  width: 85px;
  padding-bottom: 5px;
  background-color: rgb(27, 174, 189);
}

#home-search-input {
  padding-top: 0px;
  border: none;
  border-width: 0px;
  background-color: rgba(255, 255, 255, 0);
}

#home-search-input::placeholder {
  color: rgba(20, 137, 150, 0.6);
  line-height: calc(100);
  font-size: 20px;
 }

#home-main-container {
  margin-top: -25px;
}

#user-search {
  height: 50px;
  margin-bottom: 10px;
}

.profile-brief {
  height: 70px;
  width: 100%;
  background-color: white;
  margin-bottom: 4px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  border-radius: 0.25rem;
}

.project-brief {
  height: 180px;
  width: 100%;
  background-color: white;
  margin-bottom: 15px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  border-radius: 0.25rem;
}

#profile-list {
}