html {
  position: relative;
  min-height: 100%;
}
body {
  margin: 0;
  margin-bottom: 170px;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, IRANSans, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(246, 246, 246);
}

main {
  margin-top: 60px;
}

header .nav {
  height: 60px;
}

header ul {
  padding-inline-start: 30px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgb(54, 54, 54);
  height: 70px;
  color: rgb(118, 118, 118);
  text-shadow: 1px 1px 1px black;
}

.blue-bar {
  height: 100px;
  background-color: #BBEFF1;
  -webkit-box-shadow: inset 0px -75px 18px -82px rgba(0,0,0,1);
  -moz-box-shadow: inset 0px -75px 18px -82px rgba(0,0,0,1);
  box-shadow: inset 0px -75px 18px -82px rgba(0,0,0,1);
}

#profile-container {
  margin-top: -50px;
}

#description-row {
  padding: 30px;
}

#description-row p {
  font-weight: 300;
  text-indent: 3%;
}

#skill-row {
  background-color: #F9F9F9;
  padding: 30px 30px;
  border-bottom: 1px solid rgb(211, 211, 211);
}

#skill-row h5 {
  color: #1E8289;
}

hr {
  border-top: 2px dashed rgb(79, 205, 209);
  margin: 0 -15px;
}

.skills {
  direction: ltr;
}

.skill {
  margin: 5px 5px;
  padding: 5px 8px;
  font-weight: 300;
  align-content: center;
  vertical-align: middle;
  line-height: 1.4;
}

.skill-point {
  background-color: #BBEFF1;
  color: #1E8289;
  display: inline-block;
  padding: 0 8px;
  border-radius: 0.25rem;
  text-align: center;
}

#bid-row {
  padding: 30px 30px;

}

#bidAmount {
  padding-left: 50px;
  border: 2px solid rgb(31, 191, 208);
  min-width: 250px;
}

#bidAmountUnit {
  margin-right: -50px;
  color: rgb(31, 191, 208);
  padding-top: 6px;
  padding-bottom: 6px;
}

#submitBidAmountBtn {
  background-color: rgb(27, 174, 189);
  color: white;
}

.deadline {
  color: gray;
}

.deadline-reached {
  color: red;
}

.budget {
  color: #1E8289;
}

.winner {
  color: green;
}